
header {
	width: 100%;
	float:left;
	padding:1em 0;
	background: rgb(44, 48, 60);
	border-bottom:1px solid rgb(87, 96, 119);

	.logo { 
		svg {
			fill:#EF4A69;
			width:70px;
			margin:10px 0 0 0;
		}
	}
	h1 {
		float: left;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 300;
		color: #636B71;
		letter-spacing: 0.2em;

		span {
			font-weight: 300;
			text-transform: none;
			letter-spacing: initial;
		}
	}

	.print-btn {
		position: absolute;
		right: 5%;
		color: #29ABE5;
		background: none;
		font-size: .7em;
		top: 5em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		border: 2px solid rgb(41, 171, 229);
		padding: 10px 17px 8px;
	}
}
