
header {
	width: 100%;
	display: inline-block;
	padding:1em 0;
	background: rgb(249, 249, 249);

	.logo {

	}
	svg {
		fill:#fff;
	}
	h1 {
		float: left;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 600;
		margin: 2.5em 0 .5em 0;
		color: #636B71;
		letter-spacing: 0.2em;
		border-left: 8px solid #EF4A69;
		padding: 0 0 0 .7em;

		span {
			font-weight: 300;
			text-transform: none;
			letter-spacing: initial;
		}
	}
}
