
$c-red : #EF4A69;
$c-gray-blue : rgb(87, 96, 119);
$c-header-bg : rgb(44, 48, 60);

.invoice {

	.print-btn {
		position: absolute;
		right: 5%;
		color: $c-red;
		background: none;
		font-size: .7em;
		top: 5em;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 3px;
		border: 1px solid $c-red;
		padding: 10px 17px 8px;
	}

	.container {
		max-width:1100px;
		width:85%;
		margin:0 auto;
	}

	section {
		float:left;
		width:100%;
	}

	section.header {
		background:$c-header-bg;
		color:#fff;
		padding:5em 0 3em;

		.top {
			float:left;
			width:100%;

			.summary {
				float:left;
				text-transform: uppercase;

				h1 {
 					margin: 0 0 .3em 0;
					font-weight: 500;
					font-size: 2em;
					letter-spacing: .03em;
				}

				>span {
					display: block;
					font-size: 1.2em;
					line-height: 1.7em;
					font-weight: 500;
					letter-spacing: .03em;

					&.to:after, &.from:after {
						content:"+";
						color:$c-red;
						padding: 0 0 0 .5em;
						letter-spacing: .5em;
						font-weight: 600;
					}
					&.from:after {
						content:"++";
					}

					>span {
						color:$c-gray-blue;
					}
				}
			}
			.meta {
				float:right;
				text-align: right;
				font-size: .75em;
				font-weight: 300;
				letter-spacing: .03em;
			}


		}
		.bottom {
			float:left;
			width:100%;

			div {
				float: right;
				text-align: right;
				margin: 0 0 0 3em;
				font-weight: 300;
				font-size: 0.6em;
				line-height: 1.5em;
				letter-spacing: .05em;

				&.to:before, &.from:before {
					content:"+";
					display: block;
					color:$c-red;
					letter-spacing: .5em;
					font-weight: 600;
				}
				&.from:before {
					content:"++";
				}
			}
		}
	}

	section.body {
		padding:2em 0;

		table {
			width:100%;

			tr {
				height:2em;
				border-bottom:1px solid rgb(215, 213, 213);
			}
			tr:last-child {
				border:none;
			}
			td {
				font-weight: 400;
				font-size: .7em;
				padding: 1.5em 0;
				color:#333;
				letter-spacing: 0.03em;
			}
		}
	}

	section.footer {
		padding:0 0 5em;
		width:100%;

		.notes {
			float:left;
			width:80%;

			span.header {

			}
		}
		.totals {
			float:right;
			width:20%;

			table {
				width:100%;
			}
		}
	}
}










