
@media print {
  	
  	header {
  		display: none;
  	}
  	footer {
  		display: none;
  	}

  	.print-btn {
  		display: none;
  	}

    .invoice section.footer {
      position: fixed;
      bottom:0;
      padding:0 0 5em 0;
      width:100%;
    }
}