
header {
	position:fixed;
	top:0;
	width: 100%;
	height: 4em;
	padding:2em 0 1em 0;
	background:#2196F3;
	transition: all .5s ease;

	&.sticky {
		top:-7em;
	}

	.logo { 
		float:left;
		img {
			width: 40px;
			height: auto;
			margin: .45em 0 0 0;
		}
	}

	h1 {
		float: left;
		font-size: .9em;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 5px;
		padding: 0 0 0 13px;
		font-weight: 400;
		margin: 21px 0 0 0;

		span {
			font-weight: 300;
			text-transform: none;
			letter-spacing: initial;
		}
	}

	.print-btn {
		position: absolute;
		right: 5%;
		color: #29ABE5;
		background: none;
		font-size: .7em;
		top: 5em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		border: 2px solid rgb(41, 171, 229);
		padding: 10px 17px 8px;
	}
}

body.post-layout header {
	position: relative;
}
