
.index-content {
	padding:8em 0 5em 0;

	.table-header {
		width: 100%;
		position: fixed;
		top: 6.8em;
		padding: 1.35em 0 1em 0;
		background: #44A2ED;
		border-bottom: 1px solid rgb(207, 207, 207);
		transition: all .5s ease;

		&.sticky {
			position:fixed;
			top:0;
		}
	}

	section {
		margin:0 0 4em 0;
	}
	.year {
		font-size: 1em;
		color: #000000;
		font-weight: 500;
		width: 10px;
		margin: 50px 0 0 0;
		letter-spacing: 2px;
	}

	th {
		font-size: .6em;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 500;
	}

	td {
		font-size: .83em;
		padding: 1em 0 0em 0;
		color: #676767;
		font-weight: 400;
		letter-spacing: .5px;
	}

	a.print-btn {
		cursor:pointer;

		svg {
			width: 15px;
			fill: #48A7F2;
			transition:all .25s ease;
		}
		&:hover svg {
			fill:#8BCCFF;
		}
	}
}
