
.index-content {
	padding:8em 0 5em 0;

	.table-header {
		width:100%;
		position: fixed;
		top:6em;
		padding: 1.2em 0 1em 0;
		background: #2C303C;
		transition: all .5s ease;

		&.sticky {
			position:fixed;
			top:0;
		}
	}

	section {
		margin:0 0 4em 0;
	}
	.year {
		font-size: 1em;
		color: #000000;
		font-weight: 500;
		width: 10px;
		margin: 50px 0 0 0;
		letter-spacing: 2px;
	}

	th {
		font-size: .6em;
		color: #B5B5B5;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 500;
	}

	td {
		font-size: .85em;
		padding: 1em 0 0em 0;
		color: #2D2D2D;
		font-weight: 300;
		letter-spacing: .5px;
	}

	a.print-btn {
		cursor:pointer;
	}
}
