
$c-main : #EF4A69;
$c-gray-blue : rgb(87, 96, 119);
$c-header-bg : rgb(44, 48, 60);

.invoice-page {

	.print-btn {
		position: absolute;
		right: 8%;
		background: none;
		top: 2.5em;
		border:none;
		padding: 5px;

		img {
			width:30px;
		}
	}

	.container {
		max-width:800px;
		width:85%;
		margin:0 auto;
	}

	section {
		float:left;
		width:100%;
	}

	section.header {
		background:$c-header-bg;
		color:#fff;
		padding:5em 0 3em;

		.top {
			float:left;
			width:100%;

			.summary {
				float:left;
				text-transform: uppercase;

				h1 {
 					margin: 0 0 .3em 0;
					font-weight: 500;
					font-size: 2em;
					letter-spacing: .03em;
				}

				>span {
					display: block;
					font-size: 1.2em;
					line-height: 1.7em;
					font-weight: 500;
					letter-spacing: .03em;

					&.to:after, &.from:after {
						content:"+";
						color:$c-main;
						padding: 0 0 0 .5em;
						letter-spacing: .5em;
						font-weight: 600;
					}
					&.from:after {
						content:"++";
					}

					>span {
						color:$c-gray-blue;
					}
				}
			}
			.meta {
				float:right;
				text-align: right;
				font-size: .75em;
				font-weight: 300;
				letter-spacing: .03em;
			}
		}

		.legend {
			float:left;
			width:100%;

			div {
				float: right;
				text-align: right;
				margin: 0 0 0 3em;
				font-weight: 300;
				font-size: 0.6em;
				line-height: 1.5em;
				letter-spacing: .05em;

				&.to:before, &.from:before {
					content:"+";
					display: block;
					color:$c-main;
					letter-spacing: .5em;
					font-weight: 600;
				}
				&.from:before {
					content:"++";
				}
			}
		}
	}

	section.body {
		padding: 1em 0 2em;

		table {
			width:100%;

			tr {
				height:2em;
			}
			th {
				font-size: .65em;
				text-transform: uppercase;
				letter-spacing: .3em;
				color: rgb(197, 203, 206);
				padding: 1em 0 0 0;

				&.hours {
					text-align: right;
				}
				&.value {
					text-align: right;
				}
			}
			td {
				font-weight: 400;
				font-size: .7em;
				padding: 2.3em 0 2em;
				color: #7C8790;
				letter-spacing: 0.03em;
				border-bottom: 1px solid #E8E8E8;

				&.item {
					width: 80%;
				}
				&.value {
					width: 20%;
					text-align: right;
				}
			}
			td:last-child {
				border:none;
			}
		}
	}

	.note-symbol {
		color:$c-main;
		display: inline;
		padding: 0 10px 0 5px;
		font-size:.8em;
		&.one:before {content:"I"};
		&.two:before {content:"II"};
		&.three:before {content:"III"};
		&.four:before {content:"IIII"};
		&.five:before {content:"IIIII"};
	}

	section.footer {
		padding:0 0 5em;

		.notes {
			width:calc(100% - 200px);
			float:left;

			h5 {
				color:$c-main;
				text-transform: uppercase;
				font-weight: 600;
				font-size: .6em;
				letter-spacing: .5em;
			}
			ul {
				font-size: .7em;
				margin:0;
				padding:0;
				margin:0 0 0 -5px;
				line-height: 2em;
			}
			li {
				list-style: none;
			}
		}
		.totals {
			width:200px;
			float:right;
			font-size: .8em;
			line-height: 2em;

			table {

			}
		}
	}
}










