---
layout: default
---

<div class="invoice">

    <button class="print-btn" onClick="window.print()">Print PDF</button>

    <section class="header">
        <div class="container">
            <div class="top">
                <div class="summary">
                    <h1>Invoice</h1>
                    <span class="for"><span>For</span> {{ page.title }}</span>
                    <span class="to"><span>Issued to</span> {% assign client-id = site.data.clients[page.client-id] %}{{ client-id.name }}</span>
                    <span class="from"><span>By</span> {{ site.business-name }}</span>
                </div>
                <div class="meta">
                    <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span><br>
                    <span class="in">Invoice # {{ page.invoice-number }}</span>
                </div>
            </div>
            <div class="bottom">
                <div class="from">{{ site.billing-address }}</div>
                <div class="to">{% assign client-id = site.data.clients[page.client-id] %}{{ client-id.billing }}</div>
            </div>
        </div>
    </section>

    <section class="body">
        <div class="container">
            <table>
                {% if page.item_1 %}
                    <tr>
                        <td style="width:80%;">{{ page.item_1 }}</td>
                        <td style="width:20%; text-align:right;">$<span id="total-1"></span></td>
                        <script> var total_1 = {{ page.rate_1 }} * {{ page.hours_1 }} ; document.getElementById("total-1").innerHTML = total_1;</script>
                    </tr>
                {% endif %}
                {% if page.item_2 %}
                    <tr>
                        <td>{{ page.item_2 }}</td>
                        <td style="text-align:right;">$<span id="total-2"></span></td>
                        <script> var total_2 = {{ page.rate_2 }} * {{ page.hours_2 }} ; document.getElementById("total-2").innerHTML = total_2;</script>
                    </tr>
                {% endif %}
                {% if page.item_3 %}
                    <tr>
                        <td>{{ page.item_3 }}</td>
                        <td style="text-align:right;">$<span id="total-3"></span></td>
                        <script> var total_3 = {{ page.rate_3 }} * {{ page.hours_3 }} ; document.getElementById("total-3").innerHTML = total_3;</script>
                    </tr>
                {% endif %}
                <!--

                    /

                -->
            </table>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="notes">
                <h5>Notes</h5>
                <p>{{ content }}</p>
            </div>
            <div class="totals">
                <table>
                    <tr>
                        <td><b>Subtotal</b></td>
                        <td style="text-align:right;">$<span id="subtotal"></span></td>
                        <script>var subtotal = total_1 {% if page.item_2 %} + total_2 {% endif %} {% if page.item_3 %} + total_3 {% endif %} ; document.getElementById("subtotal").innerHTML = subtotal.toFixed(2);</script>
                    </tr>
                    <tr>
                        <td><b>HST (13%)</b></td>
                        <td style="text-align:right;">$<span id="tax"></span></td>
                        <script> var tax = subtotal * 0.13 ; document.getElementById("tax").innerHTML = tax.toFixed(2);</script>
                    </tr>
                    <tr>
                        <td><b>Grand Total</b></td>
                        <td style="text-align:right;">$<span id="grand-total"></span></td>
                        <script> var grand_total = subtotal + tax ; document.getElementById("grand-total").innerHTML = grand_total.toFixed(2);</script>
                    </tr>
                </table>
            </div>
        </div>
    </section>

</div>
